:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgb(0, 0, 0);
    background-color: whitesmoke;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    background: yellow;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

button {
    font-size: 30px;
    width: fit-content;
    background-color: purple;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
}

h3 {
    user-select: none;
    text-align: left;
}
.text_container {
    text-align: left;
    cursor: pointer;
}
.span_highlighted {
    background-color: yellow;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

h2 {
    text-align: left;
    font-style: bold;
}
#transcript,
#edited,
#extra {
    background-color: white;
    min-width: 45%;
    max-width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    max-height: 800px;
    overflow-y: auto;
    margin-right: 5px;
}

#editor_container {
    /* display: none;*/
}

.hearts {
    line-height: 40px;
    min-width: 80%;
    transform: scale(3);
    filter: invert(50%) sepia(68%) saturate(1506%) hue-rotate(278deg)
        brightness(105%) contrast(103%);
}

.profile_container {
    background-color: #eee;
    text-align: left;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.profiles_container {
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 400px;
}

.profile_photo {
    align-self: center;
    max-width: 400px;
}

.profile_mini_photo {
    align-self: center;
    max-width: 300px;
}

.profile_header {
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile_job {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.hobby_card {
    font-size: 14px;
    background-color: purple;
    font-weight: 800;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    margin-left: 10px;
}

.question_card {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
}

.question {
    align-content: top;
    stroke-width: 2px;
    font-weight: bold;
    font-size: 14px;
}

.answer {
    align-content: bottom;
    font-size: 20px;
}

.button_container {
    padding-top: 100px;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
    text-align: center;
}

#loading_container {
    padding-top: 200px;
}

.loading_match_container {
    padding-top: 0px;
    display: inline;
    align-content: center;
}

.mini_profile_container {
    padding-top: 100px;
    text-align: center;
    display: inline-flex;
    flex-direction: right;
    align-content: center;
}

.profile_mini {
    padding-left: 50px;
    padding-right: 50px;
}
