:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgb(0, 0, 0);
    background-color: whitesmoke;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    background: yellow;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h3 {
    user-select: none;
    text-align: left;
}
.text_container {
    text-align: left;
}
.span_highlighted {
    background-color: yellow;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

h2 {
    text-align: left;
    font-style: bold;
}
#transcript,
#edited,
#extra {
    min-width: 33%;
    max-width: 33%;
    padding-left: 5%;
}

#editor_container {
    /* display: none;*/
}
